<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235349446668-nfbg9o305vhosf06lkbqak2mu949evk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235349446668-nfbg9o305vhosf06lkbqak2mu949evk7</string>
	<key>API_KEY</key>
	<string>AIzaSyAIJKhfjs-zJIjSY7azUJ7RiGee2vAYCzs</string>
	<key>GCM_SENDER_ID</key>
	<string>235349446668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.latenight.Talkien</string>
	<key>PROJECT_ID</key>
	<string>ttalkien</string>
	<key>STORAGE_BUCKET</key>
	<string>ttalkien.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235349446668:ios:ccd459cc1d45e809435e29</string>
</dict>
</plist>